<!-- Carousel -->

<div class="container"> 
	<div class="row">
    	<div class="span5 offset1">
			<%= link_to image_tag("main-photo3.jpg"), "/"  %>
		</div>
    	<div class="span6 front-page-text">
				<h3>Are you a talented IT professional?</h3>
				<a class="btn btn-large btn-custom" href="#">Submit Your Resume</a>
		</div>

	</div>

</div>
