// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big-list{
	font-size:120%;
}

.navbar-inner {
    font-size: 15px;
}

.navbar .nav > li > a {
  padding-top:30px;
}
