<!-- Navbar at top -->


<div class="container"> 
	<div class="navbar navbar-fixed-bottom navbar-bottom-custom">  
		<div class="row navbar-inner bottom-nav">  
			<div class="container">  
				<div class="span10 offset1">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
						<span class="icon-bar"></span>  
						<span class="icon-bar"></span>  
						<span class="icon-bar"></span>  
					</a>
					<%= link_to image_tag("logo_bottom.png"), "/", :class => "brand", :id => "home_link_logo"  %>	
					<div class="nav-collapse">  
						<ul class="nav list-bottom"> 
								<%= link_to image_tag("linked_in.png"), "http://www.linkedin.com/company/2975426", :target => '_blank' %>
								<%= link_to image_tag("twitter.png"), "https://twitter.com/intellstaffing", :target => '_blank' %>
								<%= link_to image_tag("fb.png"), "http://www.facebook.com/pages/Intelligent-Staffing/336007413187022", :target => '_blank' %>
								<span class="copyright" style="color:silver;">© 2013 Intelligent Staffing, All Rights Reserved | <a href="#">Privacy Policy</a></span>
								<ul>&nbsp</ul>
								<ul>&nbsp</ul>
							</li>
						</ul>  
					</div>
				</div>
			</div>
		</div>  
	</div>
</div>
