<!-- Navbar at top -->


<div class="container"> 
	<div class="navbar navbar-fixed-bottom navbar-bottom-custom">  
		<div class="row navbar-inner bottom-nav">  
			<div class="container">  
				<div class="span12">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
						<span class="icon-bar"></span>  
						<span class="icon-bar"></span>  
						<span class="icon-bar"></span>  
					</a>
					
						<ul class="nav" id="navigation">
							<%= link_to image_tag("logo_bottom.png"), "/", :class => "brand logo-bottom", :id => "home_link_logo"  %>
							<li>
								<%= link_to image_tag("linked_in.png"), "http://www.linkedin.com/company/2975426", :target => '_blank' %>
							</li><li>
								<%= link_to image_tag("twitter.png"), "https://twitter.com/intellstaffing", :target => '_blank' %>
							</li><li>
							<%= link_to image_tag("fb.png"), "http://www.facebook.com/pages/Intelligent-Staffing/336007413187022", :target => '_blank' %>
							</li>
							<span class="copyright">
								© 2013 Intelligent Staffing, All Rights Reserved | 
								<a href="#">
									Privacy Policy
								</a>
							</span>
						</ul>
						<ul>&nbsp</ul>
						<ul>&nbsp</ul>
				</div>
			</div>
		</div>  
	</div>
</div>
