<div class="container">
	<div class="row">
			<div class="span10 offset1">
				<div class="center">
					<%= link_to image_tag("logo.png"), "/", :remote => false, "data-type" => :html, :id => "home_link_logo"  %></li>  
					<!--<a href="/"><%= image_tag("logo.png") %></a>-->
				</div>
			</div>
	</div>
</div>
